$white-color: #fff;

.buttonsWrapper {
  display: flex;
  flex-direction: column;

  .operationButton {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 4px 0;
    padding: 14px 20px;
    transition: 0.3s linear;
    width: 100%;

    &:hover {
      color: $white-color;
    }
  }
}


