$light-grey-color: #f2f2f2;
$grey-border-color: #ccc;

.formWrapper {
  background-color: $light-grey-color;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  max-width: 640px;
  margin: 20px auto 0;
  padding: 20px;

  .fieldsWrapper {
    width: calc(60% - 20px);

    .fieldBlock {
      display: flex;
      flex-direction: column;

      input {
        border: 1px solid $grey-border-color;
        border-radius: 4px;
        box-sizing: border-box;
        display: inline-block;
        font-size: 18px;
        margin: 8px 0;
        padding: 12px;
      }
    }
  }

  .buttonsWrapper {
    width: 40%;
  }
}

@media only screen and (max-width: 640px) and (min-width: 320px)  {
  .formWrapper {
    flex-direction: column;
    margin: 20px;

    .fieldsWrapper {
      width: 100%;
    }
  }
}