$white-color: #fff;
$light-grey-color: #f2f2f2;

.wrapper {
  background-color: $light-grey-color;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 20px auto 0;
  max-width: 640px;

  .historyTableWrapper {

    .historyTableName {
      margin-bottom: 15px;
    }

    .historyTableRow {
      padding: 8px;
      transition: 0.3s linear;

      &:hover {
        color: $white-color;
      }
    }
  }

  .textEmptyHistory {
    text-align: center;
  }
}


@media only screen and (max-width: 640px) and (min-width: 320px)  {
  .wrapper {
    flex-direction: column;
    margin: 20px;

    .fieldsWrapper {
      width: 100%;
    }
  }
}